


.section {
  padding: 8rem 0 3rem;
  font-size: 18px;
}
.section-heading,
.section-description {
  padding: 3rem 8rem 3rem;
}


.aboutme {
  background-image: url('../images/pretentiousimage3.jpg');
  background-position: 50% 45%;
  background-size: cover;
  text-align: right;
  /*color: #fff;*/
  padding-top: 11rem;
  color:black;


}

.full {
  width: 100%;
  height: 100%;
}

.bigthumbnail {
  background-size: cover;
  border-radius: 4px;
  height:100%;
  background-position: center;
}

.projectinfo {
  text-align: left;
  font-size: 16px;
}

.thumbnail {
	width: 23%;
	float: left;
	min-width: 15rem;
	padding: 1%;

}
.thumbnail img {
	border-radius: 5px;
}

.separator {
  background-image: url('../images/pretentiousimage1.jpg');
  background-position: center;
  background-size: cover;
  /*color: #fff;*/
  padding-top: 35rem;
}

.footer {
  background-image: url('../images/pretentiousimage1.jpg');
  background-size: cover;
  background-position: center;
  /*color: #fff;*/
  padding-top: 20rem;
  padding-bottom: 20rem;
}

#lorenzolink {
  position:absolute; 
  top: 10px; 
  right:10px; 
  font-size: 11px;
}
#lorenzolink a { color:white; text-decoration: none; }
#lorenzolink a:hover { color:white; text-decoration: none; }
